﻿@using HydraSQLite.App
@{
    Layout = "~/Views/Shared/LayoutSignedOut.cshtml";
}

@section Header {
    <style>
        .input-group-addon {
            min-width: 40px;
        }

        .well .btn-default {
            border-color: #333;
        }

        #captchaImage {
            height: 50px;
        }

        #captchaImage img {
            display: block;
            height: 50px;
            width: 180px;
            margin: 0 auto;
        }
    </style>
}

<div class="row">
    <div class="col-sm-4">
        <h2>Welcome</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu arcu nisi. Nam lacus enim, ornare et fringilla et, posuere sed diam. Cras lorem augue, tristique non massa at, euismod pretium nibh. Maecenas semper auctor nunc, quis eleifend sapien gravida ut. Suspendisse potenti. Fusce dignissim nunc eget nisl blandit, ut lobortis lectus mattis. Suspendisse convallis sem in arcu hendrerit posuere. </p>
    </div>
    <div class="col-sm-4" id="koLoginBindingNode">
        <h2>Sign in</h2>

        <div class="well">

            <form data-bind="enterKey: login">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-at"></i></span>
                    <input type="email" placeholder="Email" class="form-control" data-bind="value: email, hasFocus:isEmailFocus" />
                </div>

                <div class="input-group topGap">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" placeholder="Password" class="form-control" data-bind="value: password, hasFocus:!isEmailFocus()" />
                </div>
                <button class="btn btn-lg btn-primary btn-block topGap" data-bind="click: login"><i class="fa fa-sign-in"></i> Sign in</button>
                <div class="callout callout-danger topGap" style="display:none" data-bind="slideVisible: isMessage">
                    <p data-bind="text: message"></p>
                </div>
                <div style="width: 100%; margin-top: 30px">
                    <a href="#" style="width: 100%; display: block; text-align: center" data-toggle="modal" data-target="#forgotDetailsModal">I have forgotten my sign in details...</a>
                </div>
                @{
                    if (Utils.IsDebug() && (Request.Url == null ? "" : Request.Url.Host) == "localhost") {
                        <button class="btn btn-sm btn-danger" style="margin-top: 30px" data-bind="click: testLogin" data-email="hydra.basic@breeze-it.com" data-password="breeze**"><i class="fa fa-sign-in"></i> Basic</button>
                        <button class="btn btn-sm btn-danger" style="margin-top: 30px" data-bind="click: testLogin" data-email="mark.hodgson@Breeze-it.com" data-password="breeze**"><i class="fa fa-sign-in"></i> Super Admin</button>
                    }
                }
            </form>
        </div>

        <!-- forgot details -->
        <div class="modal fade" id="forgotDetailsModal" tabindex="-1" role="dialog" aria-labelledby="forgotLoginDetailsLabel" aria-hidden="true" style="overflow-y: auto;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="forgotLoginDetailsLabel">Forgot your login details</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <p>Enter the email address you are registered with and we will send you a link you can use to reset your details.</p>
                            <div class="form-group"><input type="text" placeholder="enter email address" class="form-control" data-bind="value: forgotEmail"></div>
                        </form>

                        <p data-bind="visible: isForgotMessage" class="alert alert-warning">
                            <span data-bind="text: forgotMessage"></span>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-bind="click: forgot">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4" id="koCreateAccountBindingNode">
        <h2>Create a new account</h2>
        <div class="well">

            <div data-bind="slideVisible: shouldShowForm">
                <input type="text" placeholder="First name" class="form-control" data-bind="value: user.forename, validationMessage: user.forename" />
                <input type="text" placeholder="Last name" class="form-control topGap" data-bind="value: user.surname, validationMessage: user.surname" />
                <input type="email" placeholder="Email" class="form-control topGap" data-bind="value: user.email, validationMessage: user.email" />
                <input type="password" placeholder="Password" class="form-control topGap" data-bind="textInput: user.newPassword, validationMessage: user.newPassword" />
                <input type="password" placeholder="Repeat password" class="form-control topGap" data-bind="textInput: user.repeatPassword, validationMessage: user.repeatPassword" />
                <div id="captchaImage" class="topGap"></div>
                <input type="text" class="form-control topGap" placeholder="Please enter the code shown above in here" data-bind="value: user.captchaText, validationMessage: user.captchaText" />
                <button class="btn btn-lg btn-primary btn-block topGap" data-bind="click: submit"><i class="fa fa-paper-plane-o"></i> Submit Details</button>
                <div style="display:none" class="callout callout-danger topGap" data-bind="slideVisible:shouldShowValidationMessage">
                    <p data-bind="text: validationMessage"></p>
                </div>
            </div>

            <div style="display:none" data-bind="slideVisible: !shouldShowForm()">
                <div class="callout callout-success" data-bind="css: pendingMessageCss">
                    <h4 data-bind="text: pendingMessageHeading"></h4>
                    <p data-bind="text: pendingMessageBody"></p>
                </div>
                <button class="btn btn-block topGap" data-bind="visible:canResend, click: resendEmail"><i class="fa fa-paper-plane-o"></i> Re-send email verification</button>
                <button class="btn btn-block topGap" data-bind="click: reset"><i class="fa fa-user-times"></i> Start afresh</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/signedOutIndexScripts");
}