﻿@{
    ViewBag.Title = "Forbidden";
    Layout = "~/Views/Shared/LayoutSignedOut.cshtml";
}

<div class="page-header">
    <h1>Convert passwords</h1>
</div>

<div>
    <p>This routine will convert <b>encrypted</b> passwords (digest login scheme) into <b>hashed</b> passwords for use on TLS (SSL, https) sites.</p>

    <div class="alert alert-danger">
        <div style="font-size: 32px; margin-right: 20px; float: left; line-height: 32px;"><i class="fa fa-exclamation-circle"></i></div>
        <div style="vertical-align: middle; line-height: 32px; float:left">Before running this, <b>back up the database!</b></div>

        <div style="float:right">
            <a class="btn btn-danger" href="~/api/PasswordConvert/run?key=a168kje5ffgnod2mx8oj3xk2gzukvmbwuwigmerb" onclick="return confirm('Are you sure?')"><i class="fa fa-thumbs-up"></i> Run the process...</a>
        </div>


        <div class="clearfix"></div>
    </div>


    <p>Click <a href="~/SignedOut/Index">here</a> to go to the login page.</p>
</div>




@section Scripts {
    <script>
        var blackout = document.getElementById("waitingBlackout");
        blackout.style.display = "none";
    </script>
}
