﻿@{
}

<!-- logged out -->
<div class="modal fade" id="sessionTimeoutModal" tabindex="-1" role="dialog" aria-labelledby="sessionTimeoutLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:350px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="sessionTimeoutLabel">Sorry, your session has timed out...</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <p>Please re-enter your sign-in details to continue</p>
                    <div class="form-group"><input type="text" placeholder="email" class="form-control" data-bind="value: email"></div>
                    <div class="form-group"><input type="password" placeholder="password" class="form-control" data-bind="value: password"></div>
                </form>
                <p data-bind="visible: isMessage" class="alert alert-warning">
                    <span data-bind="text: message"></span>
                </p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" href="@Url.Content("~/SignedOut/Logout")">Go to login page</a>
                <button type="button" class="btn btn-primary" data-bind="click: login">Login</button>
            </div>
        </div>
    </div>
</div>


