﻿@{
    Layout = "~/Views/Shared/LayoutSignedOut.cshtml";
}

<div class="page-header">
    <h1>Verifying your Email Address</h1>
</div>

<div class="row" style="margin-top: 10px">
    <div class="col-lg-6">
        
        <div data-bind="css:messageCalloutCss" class="callout">
            <h4 data-bind="text: messageHeading"></h4>
            <p data-bind="text: messageBody"></p>
        </div>
        

                    <a href="@Url.Content("~/")">Go to login page</a>
    </div>

    

</div>



@section Scripts {
    @Scripts.Render("~/bundles/signedOutVerifyEmailScripts")
}
