﻿@{
    ViewBag.Title = "Company";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<style>
    span.sortHeader {
        cursor: pointer;
    }

    span.sortHeader > i {
        color: #337ab7;
        font-size: larger;
    }

</style>

<div class="page-header">
    <h1>Companies</h1>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-4">
            <div class="input-group" data-bind="enterKey: search">
                <input class="form-control" data-bind="value: parameters.searchText" placeholder="name" />
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" data-bind="click: search"><i class="fa fa-search"></i></button>
                </span>
            </div> <!-- /input-group -->
        </div>
        <div class="col-md-8">
            <div style="float:left; padding-top: 4px;"><span class="label label-badge label-danger" data-bind="text:totalCount">0</span> <span style="padding:10px">companies found</span></div>
            <div style="float:right"><button type="button" class="btn btn-primary" data-bind="click: editNew">Add New</button></div>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th><span class="sortHeader" data-bind="click: sort" data-sortfield="Name"><i data-bind="css:sortStateName"></i> Name</span></th>
            <th><span class="sortHeader" data-bind="click: sort" data-sortfield="LookupOne"><i data-bind="css:sortStateLookupOne"></i> Lookup One</span></th>
            <th><span class="sortHeader" data-bind="click: sort" data-sortfield="LookupTwo"><i data-bind="css:sortStateLookupTwo"></i> Lookup Two</span></th>
            <th><span class="sortHeader" data-bind="click: sort" data-sortfield="Created"><i data-bind="css:sortStateCreated"></i> Created</span></th>
            <th><span class="sortHeader" data-bind="click: sort" data-sortfield="LastUpdated"><i data-bind="css:sortStateLastUpdated"></i> Last Updated</span></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: companies">
        <tr class="hand" data-bind="click:$root.edit">
            <td data-bind="text: name"></td>
            <td data-bind="lookupText: lookupOneID, lookups:$parent.lookupOnes"></td>
            <td data-bind="lookupText: lookupTwoID, lookups:$parent.lookupTwos"></td>
            <td data-bind="dateText: created"></td>
            <td data-bind="dateText: lastUpdated"></td>
        </tr>
    </tbody>
</table>

<!-- edit dialogue -->
<div class="modal fade" id="editCompanyModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="editCompanyLabel" aria-hidden="true" style="overflow-y: auto;">
    <div class="modal-dialog" style="width: 800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="editCompanyLabel" data-bind="text:companyTitle">Edit Company</h4>
            </div>
            <div class="modal-body">
                <table class="formTable" style="width:100%">
                    <colgroup>
                        <col style="width: 30%" />
                        <col style="width: 70%" />
                    </colgroup>
                    <tbody>
                        <tr><th>Name</th><td><input type="text" class="form-control" data-bind="value: company.name, validationMessage: company.name" /></td></tr>
                        <tr><th>Address 1</th><td><input type="text" class="form-control" data-bind="value: company.address1, validationMessage: company.address1" /></td></tr>
                        <tr><th>Address 2</th><td><input type="text" class="form-control" data-bind="value: company.address2" /></td></tr>
                        <tr><th>Town</th><td><input type="text" class="form-control" data-bind="value: company.town" /></td></tr>
                        <tr><th>County</th><td><input type="text" class="form-control" data-bind="value: company.county" /></td></tr>
                        <tr><th>Post Code</th><td><input type="text" class="form-control" data-bind="value: company.postcode" /></td></tr>
                        <tr>
                            <th>Established</th>
                            <td><input type="text" class="form-control" data-bind="datetimepicker:company.dateEstablished, datepickerOptions: { format: 'd M yyyy', weekStart: 1, autoclose:true, minView:2, initialDate: new Date() }" /></td>
                        </tr>
                        <tr>
                            <th>LookupOne</th>
                            <td><select class="form-control" data-bind="options: lookupOnes, optionsValue: 'id', optionsText: 'description', value: company.lookupOneID.forEditing, optionsCaption: 'Choose...'"></select></td>
                        </tr>
                        <tr>
                            <th>LookupTwo</th>
                            <td><select class="form-control" data-bind="options: lookupTwos, optionsValue: 'id', optionsText: 'description', value: company.lookupTwoID.forEditing, optionsCaption: 'Choose...'"></select></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" style="float: left" data-bind="click: erase, visible: !!company.id()">Delete</button>
                <button type="button" class="btn btn-default" data-bind="click: cancelEdit"><i class="fa fa-ban"></i> Cancel</button>
                <button type="button" class="btn btn-primary" data-bind="click: save"><i class="fa fa-floppy-o"></i> Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/companySearchScripts")
}