﻿@{
    Layout = "~/Views/Shared/Layout.cshtml";
}


    <div class="page-header">
        <h1>@ViewData["lookupDescription"]</h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div style="float:left">Items: <span class="badge" data-bind="text: rowCountText"></span></div>
            <div style="float:right">
                <button type="button" class="btn btn-primary" data-bind="click: editNew">Add New</button>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Archived?</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: lookupItems">
            <tr class="hand" data-bind="click:$root.edit, style: { color: isArchived() ? 'lightgray' : 'black' }">
                <td data-bind="text: description"></td>
                <td data-bind="text: isArchived() ? 'Archived' : ''"></td>
            </tr>
        </tbody>
    </table>


<!-- edit dialogue -->
<div class="modal fade" id="editLookupModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="editLookupLabel" aria-hidden="true" style="overflow-y: auto;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="editLookupLabel">Edit @ViewData["lookupDescription"] Item</h4>
            </div>
            <div class="modal-body">
                <table class="formTable">
                    <colgroup>
                        <col style="width:30%" />
                        <col style="width:70%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th><label>Description</label></th>
                            <td><input type="text" class="form-control" data-bind="value: lookup.description, validationMessage: lookup.description" /></td>
                        </tr>
                        <tr>
                            <th><label>Is Archived?</label></th>
                            <td><input type="checkbox" data-bind="checked: lookup.isArchived" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" style="float:left" data-bind="click: erase, visible: lookup.id()">Delete / Archive</button>
                <button type="button" class="btn btn-default" data-bind="click: cancelEdit"><i class="fa fa-ban"></i> Cancel</button>
                <button type="button" class="btn btn-primary" data-bind="click: save"><i class="fa fa-floppy-o"></i> Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
@Scripts.Render("~/bundles/adminLookupsScripts")

<script type="text/javascript">
    lookupsViewModel.lookupGroup = '@ViewData["lookupGroup"]';
</script>
}