﻿@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="page-header">
    <h1>Admin - Users</h1>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-3">
            <div class="input-group" data-bind="enterKey: search">
                <input class="form-control" data-bind="value: parameters.text" placeholder="name or email" />
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" data-bind="click: search"><i class="fa fa-search"></i></button>
                </span>
            </div> <!-- /input-group -->
        </div>

        <div class="col-md-7">
            <div data-bind="foreach: statuses" style="margin-top:5px">
                <label><input type="checkbox" data-bind="checkedValue:id, checked: $root.parameters.statuses" /> <span data-bind="text:description"></span></label> &nbsp;
            </div>

        </div>

        <div class="col-md-2">
            <div style="float:left; padding-top: 4px;"><span class="label label-primary label-badge" data-bind="text: rowCountText"></span></div>
            <div style="float:right"><button type="button" class="btn btn-primary" data-bind="click: editNew"><i class="fa fa-plus-square"></i> Add New</button></div>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Status</th>
            <th>Name</th>
            <th>Role</th>
            <th>Created</th>
            <th>Last Logged In</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: users">
        <tr class="hand" data-bind="click:$parent.edit, css:statusRowCss">
            <td><i class="fa fa-user fa-2x" data-bind="css:statusIconCss"></i></td>
            <td data-bind="text: statusText"></td>
            <td data-bind="text: fullName"></td>
            <td data-bind="lookupText: role, lookups:$parent.roles"></td>
            <td data-bind="dateText: created"></td>
            <td data-bind="dateText: lastLoggedIn"></td>
        </tr>
    </tbody>
</table>


<!-- edit dialogue -->
<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="editUserLabel" aria-hidden="true" style="overflow-y: auto;">
    <div class="modal-dialog" style="width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="editUserLabel">Edit User</h4>
            </div>
            <div class="modal-body">

                <script type="text/html" id="popoverTemplate">
                    <span data-bind="text: message"></span>
                </script>

                <table class="formTable" style="width:100%">
                    <colgroup>
                        <col style="width:30%" />
                        <col style="width:70%" />
                    </colgroup>
                    <tbody>
                        <tr><th>Status</th><td><input type="text" class="form-control" data-bind="lookupText: user.status, lookups: statuses" readonly /></td></tr>
                        <tr><th>Forename</th><td><input type="text" class="form-control" data-bind="value: user.forename, validationMessage: user.forename" /></td></tr>
                        <tr><th>Surname</th><td><input type="text" class="form-control" data-bind="value: user.surname, validationMessage: user.surname" /></td></tr>
                        <tr><th>Email</th><td><input type="text" class="form-control" data-bind="value: user.email, validationMessage: user.email" /></td></tr>
                        <tr>
                            <th>User Type</th>
                            <td>
                                <select class="form-control" data-bind="visible: !isEditingSelf(), options: roles, optionsValue: 'id', optionsText: 'description', value: user.role, optionsCaption: 'Choose...'"></select>
                                <input type="text" class="form-control" data-bind="visible:isEditingSelf, lookupText: user.role, lookups: roles" readonly />
                            </td>
                        </tr>

                        <tr><th>New Password</th><td><input type="password" class="form-control" data-bind="value: user.newPassword, validationMessage: user.newPassword" /></td></tr>
                        <tr><th>Repeat Password</th><td><input type="password" class="form-control" data-bind="value: user.repeatPassword, validationMessage: user.repeatPassword" /></td></tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" style="float:left" data-bind="click: deleteUser, visible: canDelete"><i class="fa fa-trash"></i> Delete</button>
                <button type="button" class="btn btn-danger" style="float:left" data-bind="click: reject, visible:canAcceptOrReject"><i class="fa fa-times-circle"></i> Reject</button>

                <button type="button" class="btn btn-default" data-bind="click: cancelEdit"><i class="fa fa-ban"></i> Cancel</button>
                <button type="button" class="btn btn-primary" data-bind="click: save, visible:canSave"><i class="fa fa-floppy-o"></i> Save</button>


                <button type="button" class="btn btn-success" data-bind="click: accept, visible:canAcceptOrReject"><i class="fa fa-check-circle"></i> Accept</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/adminUsersScripts")
}