﻿@using HydraSQLite.App
@using HydraSQLite.Services
@{
    var config = DependencyResolver.Current.GetService(typeof(IBreezeConfiguration)) as IBreezeConfiguration;
    var login = DependencyResolver.Current.GetService(typeof(ILogin)) as ILogin;
    var currentUser = login?.CurrentUser;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/assets/css/site")
    @Styles.Render("~/assets/lib/font-awesome/css/fontawesome")
    @RenderSection("Header", required: false)
    <script>
        var appSettings = appSettings || {};
        appSettings.isDigestAuthenticationScheme = @(config?.IsDigestAuthenticationScheme.ToString().ToLower() ?? "false");
        appSettings.rootUrl = '@Url.Content("~/")';
        appSettings.loggedInUserID = '@(currentUser?.ID.ToString() ?? "")';
    </script>
</head>
<body>
    
    <nav class="container navbar navbar-inverse navbar-fixed-top@((config?.IsStaging ?? true) ? " testBackground" : "")" style="min-height: 50px;">
        <div class="navbar-header">
            <span class="navbar-brand"></span>
        </div>
        <ul class="nav navbar-nav" style="margin-left:30px">
            <li style="display:none" id="approveUsersLink">
                <a href="~/Home/Index">
                    <span class="label label-badge label-danger" id="approveUsersBadge">99</span>&nbsp;
                    New users need approval
                </a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li id="menuHome"><a href="~/Home/Index">Home</a></li>
            <li id="menuCompanies"><a href="~/Company">Companies</a></li>
            <li id="menuMyDetails"><a href="~/Home/MyDetails">My Details</a></li>
            <li id="menuAdmin" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="~/Admin/Users/">Users</a></li>
                    <li class="dropdown-submenu">
                        <a href="#">Lookups</a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Admin/Lookups/1">Lookup One</a></li>
                            <li><a href="~/Admin/Lookups/2">Lookup Two</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="~/SignedOut/Logout">Sign Out</a></li>
        </ul>
    </nav>

    <div id="koContentBindingNode" class="container">
        @RenderBody()
    </div>

    <div id="sessionTimeoutModalContainer"></div>
    <div id="waitingSpinnerTarget" style="position:fixed;top:50%; left: 50%; width: 1px; height: 1px"></div>
    <div id="waitingBlackout"></div>
    @Scripts.Render("~/bundles/commonLibraryScripts")
    @{
        // add arror handler if not debugging
        if (!Utils.IsDebug() && Request.Url?.Host != "localhost") {
            <script>
                window.onerror = function (errorMsg, url, lineNumber, column, errorObj) {
                    App.ErrorHandler.reportJavascriptError(errorMsg, url, lineNumber, column, errorObj);
                }
            </script>
        }
    }
    @Scripts.Render("~/bundles/layoutScripts")
    @RenderSection("scripts", required: false)
</body>
</html>
