﻿@using HydraSQLite.App
@{
    var config = DependencyResolver.Current.GetService(typeof(IBreezeConfiguration)) as IBreezeConfiguration;
    var copyright = DateTime.Now.ToString("'&copy;' yyyy ' - Breeze (IT) Ltd.'");
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
        <title>@ViewBag.Title</title>
    @Styles.Render("~/assets/css/site")
    @Styles.Render("~/assets/lib/font-awesome/css/fontawesome")
    @RenderSection("Header", required: false)
        <script>
            var appSettings = appSettings || {};
            appSettings.isDigestAuthenticationScheme = @(config?.IsDigestAuthenticationScheme.ToString().ToLower() ?? "false");
            appSettings.rootUrl = '@Url.Content("~/")';
        </script>
    </head>
    <body>
    <div class="stickyFooterWrapper">
        <nav class="container navbar navbar-inverse navbar-fixed-top@((config?.IsStaging ?? true) ? " testBackground" : "")" id="navbar">
                <div class="navbar-header">
                <span class="navbar-brand"></span>
            </div>
        </nav>
        <div id="koContentBindingNode" class="container">
            @RenderBody()
                </div>
            </div>
    <footer class="footer">
        <div class="container">
            <p>@Html.Raw(copyright) </p>
        </div>
    </footer>
    <div id="waitingSpinnerTarget" style="position:fixed;top:50%; left: 50%; width: 1px; height: 1px"></div>
    <div id="waitingBlackout"></div>
    @Scripts.Render("~/bundles/commonLibraryScripts")
    @RenderSection("scripts", required: false)
    </body>
</html>
