﻿$header-colour: #333;
$footer-height: 50px;

$danger-color: #d9534f;
$danger-background: #f2dede;
$warning-color: #f0ad4e;
$warning-background: #fcf8e3;
$success-color: #5cb85c;
$success-background: #dff0d8;
$primary-color: #31708F;
$primary-background: #D9EDF7;

html {
    position: relative;
    min-height: 100%;
    height: 100%;
    width: 100%;
}

body {
    box-sizing: border-box;
    margin-bottom: $footer-height;
    //height: calc(100% - $footer-height);
    height: 100%;
    width: 100%;
}

.navbar-inverse {
    background-color: $header-colour;
}

.navbar-brand {
    background-image: url(../images/bannerLogo.png);
    background-repeat: no-repeat;
    background-position: center;
    min-width:200px;
}

.stickyFooterWrapper {
    min-height: 100%;
    margin-bottom: -$footer-height;
}

.footer {
    width: 100%;
    height: $footer-height;
    .container {
        height: $footer-height;
        background-color: $header-colour;
        vertical-align: middle;

        p {
            color: #888;
            line-height: $footer-height;
        }
    }
}

#waitingBlackout {
    width: 100%;
    height: 100%; /* make sure you have set parents to a height of 100% too*/
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1100;
    background-color: rgba(255, 255, 255, 0.5);
    //display: none;
    display: block;
}

/* navbar sub menus */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

@media (min-width: 760px) {
    body {
        padding-top: 80px;
    }
}

@media (max-width: 759px) {
    body {
        padding-top: 60px;
    }
}

//
// -- misc stuff
//

.testBackground {
    background-image: url(../images/test50.png);
}

.topGap {
    margin-top: 10px;
}

.noBottomMargin {
    margin-bottom: 0;
}

.hand {
    cursor: pointer;
}

.page-header {
    margin-top: -30px;
}

//
// -- bootstrap docs-style callout
//

.callout {
    padding: 20px;
    margin: 20px 0;
    border-left: 5px solid $primary-color;
    background: $primary-background;

    h4 {
        color: $primary-color;
        margin-top: 0;
        margin-bottom: 5px;
    }
}

.callout-danger {
    border-color: $danger-color;
    background-color: $danger-background;
    h4 {
        color: $danger-color;
    }
}

.callout-warning {
    border-color: $warning-color;
    background-color: $warning-background;

    h4 {
        color: $warning-color;
    }
}

.callout-success {
    border-color: $success-color;
    background-color: $success-background;
    h4 {
        color: $success-color;
    }
}

//
// -- forms
//

.inner-glow {
    -webkit-box-shadow: 0 0 2px 2px #f66 inset !important;
    box-shadow: 0 0 2px 2px #f88 inset !important;
    background-color: #fee;
}

.formTable td, .formTable th {
    vertical-align: top;
    padding: 3px;
}

input.datePicker {
    width: 160px;
}

label {
    font-weight:normal;
}

div.readonly-box {
    border: 1px solid #ccc;
    padding: 6px 12px;
    width: 100%;
    min-height: 34px;
    border-radius: 4px;
    background-color: #F8F8F8;
    display: inline-block;
}

//
// --
//

.primary-color {
    color: $primary-color;
}

.primary-background {
    background-color: $primary-background;
}

.danger-color {
    color: $danger-color;
}

.danger-background {
    background-color: $danger-background;
}

.warning-color {
    color: $warning-color;
}

.warning-background {
    background-color: $warning-background;
}

.success-color {
    color: $success-color;
}

.success-background {
    background-color: $success-background;
}

// turn bootstrap label into a badge
.label-badge {
    font-weight:bold;
    border-radius: 20px;
    line-height: 20px;
    font-size: 14px;
}

// so alerts over modals are offset a bit
.bootbox-alert, .bootbox-confirm, .bootbox-prompt {
    margin-top: 20px
}
