﻿html {
  position: relative;
  min-height: 100%;
  height: 100%;
  width: 100%; }

body {
  box-sizing: border-box;
  margin-bottom: 50px;
  height: 100%;
  width: 100%; }

.navbar-inverse {
  background-color: #333; }

.navbar-brand {
  background-image: url(../images/bannerLogo.png);
  background-repeat: no-repeat;
  background-position: center;
  min-width: 200px; }

.stickyFooterWrapper {
  min-height: 100%;
  margin-bottom: -50px; }

.footer {
  width: 100%;
  height: 50px; }
  .footer .container {
    height: 50px;
    background-color: #333;
    vertical-align: middle; }
    .footer .container p {
      color: #888;
      line-height: 50px; }

#waitingBlackout {
  width: 100%;
  height: 100%;
  /* make sure you have set parents to a height of 100% too*/
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1100;
  background-color: rgba(255, 255, 255, 0.5);
  display: block; }

/* navbar sub menus */
.dropdown-submenu {
  position: relative; }

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px; }

.dropdown-submenu:hover > .dropdown-menu {
  display: block; }

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px; }

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff; }

.dropdown-submenu.pull-left {
  float: none; }

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px; }

@media (min-width: 760px) {
  body {
    padding-top: 80px; } }

@media (max-width: 759px) {
  body {
    padding-top: 60px; } }

.testBackground {
  background-image: url(../images/test50.png); }

.topGap {
  margin-top: 10px; }

.noBottomMargin {
  margin-bottom: 0; }

.hand {
  cursor: pointer; }

.page-header {
  margin-top: -30px; }

.callout {
  padding: 20px;
  margin: 20px 0;
  border-left: 5px solid #31708F;
  background: #D9EDF7; }
  .callout h4 {
    color: #31708F;
    margin-top: 0;
    margin-bottom: 5px; }

.callout-danger {
  border-color: #d9534f;
  background-color: #f2dede; }
  .callout-danger h4 {
    color: #d9534f; }

.callout-warning {
  border-color: #f0ad4e;
  background-color: #fcf8e3; }
  .callout-warning h4 {
    color: #f0ad4e; }

.callout-success {
  border-color: #5cb85c;
  background-color: #dff0d8; }
  .callout-success h4 {
    color: #5cb85c; }

.inner-glow {
  -webkit-box-shadow: 0 0 2px 2px #f66 inset !important;
  box-shadow: 0 0 2px 2px #f88 inset !important;
  background-color: #fee; }

.formTable td, .formTable th {
  vertical-align: top;
  padding: 3px; }

input.datePicker {
  width: 160px; }

label {
  font-weight: normal; }

div.readonly-box {
  border: 1px solid #ccc;
  padding: 6px 12px;
  width: 100%;
  min-height: 34px;
  border-radius: 4px;
  background-color: #F8F8F8;
  display: inline-block; }

.primary-color {
  color: #31708F; }

.primary-background {
  background-color: #D9EDF7; }

.danger-color {
  color: #d9534f; }

.danger-background {
  background-color: #f2dede; }

.warning-color {
  color: #f0ad4e; }

.warning-background {
  background-color: #fcf8e3; }

.success-color {
  color: #5cb85c; }

.success-background {
  background-color: #dff0d8; }

.label-badge {
  font-weight: bold;
  border-radius: 20px;
  line-height: 20px;
  font-size: 14px; }

.bootbox-alert, .bootbox-confirm, .bootbox-prompt {
  margin-top: 20px; }

