﻿@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="page-header">
    <h1>Home</h1>
</div>

<a href="#" onclick="return test();">test</a>

@section Scripts {
    @Scripts.Render("~/bundles/homeIndexScripts")
    <script>
        function test() {
            //var layout = new App.Layout();
            App.showTimeoutLoginDialogue();
            return false;
        }
    </script>
}


